html {
	font-family: museo-sans,sans-serif;
	font-size: 20px;
	background: url(/Users/joekalucki/Sites/inspire_site/images/background_opcion2.jpg);
}

body {
	margin: 0px;
}

#wrapper {
	padding:0px;
}

#logo {
	position: relative;
	display: block;
	padding-left: 15px;
	padding-top:15px;
}


#header ul {
    list-style-type: none;
    padding:0;
    text-align: center;
}

#header ul li {
	display: inline;
	padding:25px;
	position:relative;
	font-size: 23px;
	bottom:110px;
	right:150px;
}

#nav ul li {
	width:50px;
	height:30px;
	transition: background-color .2s ease;
}

#nav ul li:hover {
	background-color:#E88801;
}

#billboard-container {
	position: relative;
	bottom:75px;
}

.billboard1 {
	background: url("/Users/joekalucki/Sites/inspire_site/images/woods2.png") no-repeat center;
	height: 800px;
	width:100%;
}

.billboard1 h1 {
	font-size:100px;
	text-align: center;
	color:white;
	padding-top:200px;
}

.billboard1 h3 {
	font-size:25px;
	text-align: center;
	color:white;
	position: relative;
	font-weight: normal;
	bottom: 75px;
}

.billboard-line {
	width:50%;
	height:1px;
	background-color: white;
	text-align: center;
	position: relative;
	bottom:65px;
	border-style: none;
}

.main-button {
	width:25%;
	height:60px;
	background-color: #E88801;
	text-align: center;
	margin:auto;
	position: relative;
	bottom: 75px;
}

.main-button h4 {
	color:white;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	padding-top: 23px;
}

.main-button:hover {
	background-color: #FFA01B;
}

