/* main styles */

html {
	font-family: museo-sans,sans-serif;
	font-size: 20px;
	background: url("../images/background_opcion2.jpg");
	line-height: 25px;
}

body {
	margin: 0px;
}

#wrapper {
	padding:0px;
}

#logo {
	position: relative;
	display: block;
	padding-left: 15px;
	padding-top:15px;
}


#header ul {
    list-style-type: none;
    padding:0;
    text-align: center;
}

#header ul li {
	padding:25px;
	font-size: 23px;
	bottom:90px;
	right:200px;
}

#nav ul li {
	width:50px;
	height:15px;
	transition: background-color .2s ease;
	display: inline;
	position:relative;
}

#nav ul li a {
	text-decoration: none;
	color:black;
}

#nav ul li:hover {
	background-color:#364559;
	height:20px;
}

#nav ul li a:hover {
	color:white;
}

/* Home page */
#billboard-container {
	position: relative;
	bottom:75px;
	height:100%
}

.billboard1 {
	background: url("../images/main-team-1.png") no-repeat center;
	height: 800px;
	width:100%;
}

.billboard1 h1 {
	font-size:100px;
	text-align: center;
	color:white;
	padding-top:200px;
	line-height: 100px
}

.billboard1 h3 {
	font-size:25px;
	text-align: center;
	color:white;
	position: relative;
	font-weight: normal;
	bottom: 75px;
}

.billboard-line {
	width:50%;
	height:1px;
	background-color: white;
	text-align: center;
	position: relative;
	bottom:65px;
	border-style: none;
}

.main-button {
	width:25%;
	height:60px;
	background-color: #364559;
	text-align: center;
	margin:auto;
	position: relative;
	bottom: 75px;
	transition: background-color .2s ease;
}

.main-button a {
	text-decoration: none;
}

.main-button h4 {
	color:white;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	padding-top: 23px;
}

.main-button:hover {
	background-color: #576d8a;
}

#content1 {
	font-size:16px;
	line-height: 20px;
	position: relative;
	bottom:20px;
}

#content1 .col1 {
	width:18%;
	float:left;
	text-align: center;
	padding:40px;
}

#content1 .col2 {
	width:18%;
	float:left;
	text-align: center;
	padding:40px;
}

#content1 .col3 {
	width:18%;
	float:left;
	text-align: center;
	padding:40px;
}

#content1 .col4 {
	width:18%;
	float:left;
	text-align: center;
	padding:40px;
}

/* About page */
.about-video {
	height: 100%;
	width:100%;
	z-index: 0;
	position: relative;
}

.about-video-text p {
	color:white;
	position: absolute;
	text-align: center;
	top:0;
	left:0;
	z-index: 1;
	padding-top: 250px;
	padding-left: 330px;
	width:50%;
	font-size: 25px;
	line-height: 35px;
}

.about-content-border {
	width:50%;
	background-color: #818B8C;
	height:1px;
	border-style: none;
	margin-bottom: 20px;
	margin: auto;
	position: relative;
	text-align: center;
	bottom:65px;
}

#about-content1 {
	padding-left: 30px;
	position: relative;
	bottom:50px;
	width:85%;

}

#about-content1 img {
	float:left;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 100px;
}

#about-content1 p {
	position: relative;
	top:30px;
}

/* FOOTER */
#footer {
	width:100%;
	margin:0;
	height:100%;
	background-color: #818B8C;
	border-top:5px #FFA01B solid;
	color:#35D646A;
	font-size:12px;
	line-height: 15px
}

.footer-col1 {
	padding-left:30px;
}
